__pycache__
*.py[cod]
.git
.gitignore
.venv
.env
.env.*
.pytest_cache
.cache
.sonar
.sonar/**
htmlcov
coverage.xml
infra/.terraform
infra/*.tfstate*
**/*.log
**/*.pid
**/*.db
.docker
Dockerfile.*.local
.github
.tests 